<!DOCTYPE html>
<html>
  <head>
    <title><%= product.name %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <h1><%= product.name %></h1>

    <img src="/admin/products/<%= product.id %>/image" width="300" />

    <p>
      <strong>Price:</strong>
      ₹<%= product.price %>
    </p>

    <p>
      <strong>Stock:</strong>
      <%= product.stock %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= product.category %>
    </p>

    <p><%= product.description %></p>

    <a href="/shop"> Back to Shop </a>
    <form action="/shop/cart" method="POST">
      <input type="hidden" name="productId" value="<%= product.id %>" />

      <button type="submit">Add to Cart</button>
    </form>
  </body>
</html>
